.home-container {
    margin: 15vh auto;
    width: 100%;

    @media (max-width: 600px) {
      margin: 42vh auto;
    }
  
    .section-header {
      margin-left: 4%;
      margin-bottom: 1%;
      font-size: 1.6rem;
      font-family: 'Kodchasan', sans-serif;
      color: #484a51;

    }
  
    .recents-container {
      padding-top: 1%;
      width: 100%;
      margin: 0 auto 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 600px){
        flex-direction: column;
        align-items: center;
        width: 98%;
      }

      .post-container {
        width: 30%;
        padding: 1%;

        @media (max-width: 600px){
          width: 90%;
          border: 1px solid silver;
          box-shadow: 0 0 8px silver;
          margin: 5% 0;
        }
      }

      .post-header {
        display: flex;
        margin-bottom: 2%;

        @media (max-width: 600px){
          margin: 2% 0;
        }

        header {
          align-self: center;
          padding-left: 3%;
          width: 200px;
          font-size: 0.8rem;
        }
      }

      .user-avatar {
        border-radius: 50%;
        height: 40px;
        margin-left: 1%;
      }

      .likes {
        max-width: 80px;
        padding: 2% 0;
        background: white;
        border-radius: 3px;
        opacity: 0.6;
        z-index: 1;
        font-size: 1rem;
        text-align: center;
        margin-left: 5%;
        position: relative;
        bottom: 15%;
        display: flex;
        justify-content: space-around;
        object-fit: contain;

        @media (max-width: 600px) {
          padding: 5% 0;
        }

        .fa-heart {
         
        }

       &:hover {
          cursor: pointer;
        }
      }

      .recent-posts {
        width: 100%;
        height: 270px;
        object-fit: cover;
        border-radius: 8px;
        
        @media (max-width: 600px){
          width: 98%;
          margin: 1%;
        }
      }
    }
  }

  .liked {
    color: red;
  }

