.navigation-bar {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background: white;

    .logo {
        margin-left: 3%;
    }

    .search-bar {
        border: 1px solid silver;
        width: 27%;
        padding: 2px;
        border-radius: 3px;
    }

    .search-btn {
        border: none;
        background: transparent;
        color: silver;
    }

    .search-input {
        font-family: 'Kodchasan', sans-serif;
        border: none;
        padding: 1%;
        text-transform: uppercase;
        color: gray;
    }

    .search-input::placeholder {
        color: silver;
    }

    a {
        text-decoration: none;
        font-family: 'Kodchasan', sans-serif;
    }

    .nav-links {
        color: black;
        font-size: .8rem;
    }

    .nav-links.active {
        font-weight: bold;
    }

    .log-link-container {
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin-right: 2%;
    }

    .log-links {
        color: silver;
        font-size: .6rem;
        margin-right: 2%;        
    }

    a:hover, 
    button:hover {
        cursor: pointer;
    }
}