.navigation-bar {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    @media (max-width: 600px){
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        margin-left: 3%;

        @media (max-width: 600px){
            margin: 5% 0;
        }
    }

    .logo-img {
        height: 40px;
    }

    // .search-bar {
    //     border: 1px solid silver;
    //     width: 27%;
    //     padding: 1px;
    //     border-radius: 3px;
    // }

    // .search-btn {
    //     border: none;
    //     background: transparent;
    //     color: silver;
    // }

    // .search-input {
    //     font-family: 'Kodchasan', sans-serif;
    //     font-size: 1rem;
    //     border: none;
    //     padding: 1%;
    //     text-transform: uppercase;
    //     color: gray;
    // }

    // .search-input::placeholder {
    //     color: silver;
    // }

    a {
        text-decoration: none;
        font-family: 'Kodchasan', sans-serif;
    }

    .nav-links {
        color: black;
        font-size: 1rem;
        padding-bottom: 0.5%;

        @media(max-width: 600px){
            // border: 1px solid;
            padding: 3%;
        }
    }

    .nav-links.active {
        font-weight: bold;
        border-bottom: 1px solid;
    }

    .log-link-container {
        width: 120px;
        display: flex;
        justify-content: space-between;
        margin-right: 2%;
        padding: 3% 0;

        @media (max-width: 600px){
            justify-content: center;
            padding-bottom: 5%;
        }
    }

    .log-links {
        color: gray;
        font-size: .8rem;
        margin-right: 5%;    
    }

    a:hover, 
    button:hover {
        cursor: pointer;
    }
}