.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #007280;

    .signup-page-container {
        background: white;
        height: 470px;
        display: flex;
        border-radius: 3px;
        margin-top: 50px;
    }

    .signup-form {
        max-width: 300px;
        width: 300px;
        height: auto;
    }

    h3 {
        text-transform: uppercase;
        padding: 15px;
    }

    h2 {
        font-size: 1.2rem;
        padding: 15px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-inputs {
        display: flex;
        max-width: 280px;
        width: 280px;
        justify-content: space-between;


        input {
            width: 115px;
        }
    }

    input {
        padding: 8px;
        border-radius: 3px;
        border: 1px solid silver;
        width: 260px;
        margin: 15px 0;
    }

    input::placeholder {
        font-family: 'Kodchasan', sans-serif;
    }

    .signup-btn {
        text-transform: uppercase;
        background: #3060B6;
        border: none;
        width: 270px;
        margin-top: 20px;
        padding: 10px;
        color: white;
        border-radius: 3px;
        font-family: 'Kodchasan', sans-serif;
        font-size: .6rem;
    }

    .form-links {
        text-decoration: none;
        color: #007280;
        font-weight: bold;
    }

    .form-footer {
        margin: 25px;
    }

    .login-hero {
        height: 470px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

}