.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .signup-page-container {
        background: white;
        height: 70vh;
        display: flex;
        border-radius: 3px;
    }

    .signup-form {
        max-width: 320px;
        width: 320px;
    }

    h3 {
        text-transform: uppercase;
        padding: 15px;
    }

    h2 {
        font-size: 1.2rem;
        padding: 15px;
    }

    .name-inputs {
        display: flex;
        justify-content: space-between;
        max-width: 300px;

        input {
            width: 110px;
        }
    }

    input {
        padding: 8px;
        margin: 15px;
        border-radius: 3px;
        border: 1px solid silver;
        width: 270px;
    }

    input::placeholder {
        font-family: 'Kodchasan', sans-serif;
    }

    .signup-btn {
        text-transform: uppercase;
        background: #3060B6;
        border: none;
        width: 270px;
        padding: 10px;
        color: white;
        border-radius: 3px;
        font-family: 'Kodchasan', sans-serif;
        font-size: .6rem;
    }

    .login-hero {
        height: 70vh;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

}