.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #007280;

    @media (max-width: 600px)  {
        height: auto;
    }
    
    .signup-page-container {
        background: white;
        height: 550px;
        display: flex;
        border-radius: 3px;
        margin-top: 50px;
    }

    .signup-form {
        max-width: 375px;
        width: 350px;
        height: auto;

        @media (max-width: 600px) {
            margin-top: 20vh;
        }
    }

    h3 {
        text-transform: uppercase;
        padding: 15px;
        font-size: .8rem;
        margin-top: 10%;
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 5%;
    }

    .user-label {
        align-self: flex-start;
        margin-left: 11%;
        font-size: 0.8rem;
    }

    .user-label-name {
        align-self: flex-start;
        font-size: 0.8rem;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-inputs {
        display: flex;
        max-width: 280px;
        width: 280px;
        justify-content: space-between;


        input {
            width: 115px;
        }
    }

    input {
        padding: 8px;
        border-radius: 3px;
        border: 1px solid silver;
        width: 260px;
        margin: 15px 0;
    }

    input::placeholder {
        font-family: 'Kodchasan', sans-serif;
    }

    .signup-btn {
        text-transform: uppercase;
        background: #3060B6;
        border: none;
        width: 270px;
        margin-top: 20px;
        padding: 10px;
        color: white;
        border-radius: 3px;
        font-family: 'Kodchasan', sans-serif;
        font-size: .8rem;
    }

    .form-links {
        text-decoration: none;
        color: #007280;
        font-weight: bold;
    }

    .form-footer {
        margin: 25px;
        font-size: 0.8rem;
    }

    .login-hero {
        height: 550px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .error-message {
        color: red;
        font-weight: bold;
        background: pink;
        padding: 5px 30px;
        border-radius: 3px;
    }

}