.create-post-container {
    background: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100vw;

    .create-post-form {
        margin-top: 5%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 375px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid silver;
        box-shadow: 0 0 8px silver;
        background: white;

        @media (max-width: 600px) {
            margin: 25vh auto;
            height: 50vh;
            width: 80vw;
        }

        .cancel-btn {
            text-decoration: none;
            color: gray;
            height: 10px;
            font-size: 0.8rem;
            align-self: flex-end;
            margin: 2%;
        }

        input {
            border-radius: 3px;
            border: 1px solid silver;
            width: 80%;
            padding: 2%;
        }

        .new-post-btn {
            border-radius: 2px;
            padding: 1% 2%;
            margin: 0% 1% 5%;
            border: none;
            box-shadow: 2px 2px 8px gray;
            background: #7197DA;
            color: white;
            font-family: 'Kodchasan', sans-serif;
            font-size: 0.9rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

   

}