.user-home-page {
    margin: 10% auto;
    width: 95%;

    @media (max-width: 600px) {
      margin: 40vh auto;
    }

    .user-welcome-container {
      width: 450px;
      display: flex;

      @media (max-width: 600px) {
        margin: 10% 0;
        flex-direction: column;
      }

    }

    .profile-nav {
      margin-top: 10vh;

      @media (max-width: 600px) {
        display: flex;
        flex-wrap: wrap
      }
    }

    .avatar-img {
      height: 35px;
      border-radius: 50%;
      align-self: center;
      margin-right: 2%;
    }

    h2 {
      font-size: 1.2rem;
      align-self: center;

      @media (max-width: 600px) {
        font-size: 0.9rem;
        margin: 5% 0;
      }
  }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 72%;

        
        a {
            font-family: 'Kodchasan', sans-serif;
            text-decoration: none;
            color: #00A0B2;
            font-weight: bold;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            width: 200px;
            
            @media (max-width: 600px) {
              margin: 0 auto;
            }

            span {
              margin-bottom: 4%;
            }
            
        }

        .create-post-btn {
            padding-left: 2%;
        }
    }
  
    .section-header {
      margin-left: 14.5%;
      margin-top: 5%;
      font-size: 1.6rem;
      font-family: 'Kodchasan', sans-serif;
      color: #484a51;
    }
  
    .recents-container {
      padding-top: 1%;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .post-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 25%;
        margin: 1%;

        @media (max-width: 600px) {
          width: 95%;
        }

        span {
          display: flex;
          width: 90%;
        }
      }

      .post-header {
        display: flex;

        header {
          align-self: center;
          padding-left: 3%;
          width: 170px;
        }
      }

      .user-avatar {
        border-radius: 50%;
        height: 25px;
        margin-left: 7%;
      }

      .likes {
        padding: 3%;
        background: white;
        border-radius: 3px;
        font-size: 1rem;
        text-align: center;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;

        .fa-heart {
          padding-right: 15%;
        }
      }

      .recent-posts {
        width: 100%;
        height: 270px;
        object-fit: cover;
        border-radius: 8px;
      }

      .photo-description {
        font-size: .8rem;
        margin-left: 5%;
        width: 100%;
      }
    }
  }