.user-home-page {
    margin-top: 10%;
    width: 98%;

    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 8%;
        
        a {
            font-family: 'Kodchasan', sans-serif;
            text-decoration: none;
            color: #00CEE6;
            font-weight: bold;
            font-size: 1rem;
            display: flex;
            align-items: center;
            width: 200px;
        }

        .create-post-btn {
            padding-left: 2%;
        }
    }
  
    .section-header {
      margin-left: 10%;
      margin-top: 1%;
      font-size: 1.6rem;
      font-family: 'Kodchasan', sans-serif;
      color: #484a51;
    }
  
    .recents-container {
      padding-top: 1%;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .post-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        margin: 1%;
      }

      .post-header {
        display: flex;

        header {
          align-self: center;
          padding-left: 3%;
          width: 170px;
        }
      }

      .user-avatar {
        border-radius: 50%;
        height: 25px;
        margin-left: 7%;
      }

      .recent-posts {
        width: 90%;
        height: 175px;
        object-fit: cover;
        border-radius: 8px;
        padding: 6px 6px;
      }
    }
  }